<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        IMEDIAGRAM | Homepage
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>imediagram<span>.</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="./"><img src="{{ url_for('static', filename='img/home.svg') }}" alt=""></a></li>
                <li><a href="./"><img src="{{ url_for('static', filename='img/Search.svg') }}" alt=""></a></li>
                <li><a href="./"><img src="{{ url_for('static', filename='img/explore.svg') }}" alt=""></a></li>
                <li><a href="./"><img src="{{ url_for('static', filename='img/messages.svg') }}" alt=""></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login">
            <div class="imagem-grid">
                <img src="{{ url_for('static', filename='img/image.png') }}" alt="colagem de imagens">
            </div>

            <div class="forms-login">
                <form action="">
                    <div>
                        <label for="Email">Email</label>
                        <input type="text" name="Email" id="Email">
                    </div>
                    <div>
                        <label for="Senha">Senha</label>
                        <input type="password" name="Senha" id="Senha">
                    </div>
                    <button>Fazer Login</button>
                    <p>Não tem conta? <a href="{{ url_for('criarconta') }}">Crie aqui</a></p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>