<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMEDIAGRAM | LOGIN</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>imediagram<span>.</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="./"><img src="./img/Home.svg" alt=""></a></li>
                <li><a href="./"><img src="./img/Search.svg" alt=""></a></li>
                <li><a href="./"><img src="./img/Explore.svg" alt=""></a></li>
                <li><a href="./"><img src="./img/Messages.svg" alt=""></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="">
            <div class="enviar-foto">
                <label for="foto">Enviar foto</label>
                <input type="file" name="foto" id="foto">
                <button>Enviar</button>
            </div>
        </form>
    </main>
</body>
</html>